<!-- <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
        <div class="info">
          <h4>Users</h4>
          <p><b>{{users_count}}</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
        <div class="info">
          <h4>Likes</h4>
          <p><b>25</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small warning coloured-icon"><i class="icon fa fa-files-o fa-3x"></i>
        <div class="info">
          <h4>Uploades</h4>
          <p><b>10</b></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3">
      <div class="widget-small danger coloured-icon"><i class="icon fa fa-star fa-3x"></i>
        <div class="info">
          <h4>Stars</h4>
          <p><b>500</b></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
      <div class="tile">
      <h3 class="tile-title">Line Chart</h3>
      <div class="embed-responsive embed-responsive-16by9">
          <canvas chart [chartType]="line" [chartData]="line_data" class="embed-responsive-item" id="lineChart"></canvas>
      </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="tile">
      <h3 class="tile-title">Pie Chart</h3>
      <div class="embed-responsive embed-responsive-16by9">
          <canvas chart [chartType]="pie" [chartData]="pie_data"  class="embed-responsive-item" id="pieChart"></canvas>
      </div>
      </div>
  </div>
  </div> -->

  <div class="row">
    <div *ngFor="let data of dashboard_config;let i = index" class="{{data.entity_config['class']}}">
      <a [routerLink]="[data.entity_config['url']]">
        <div *ngIf="data.entity_type === 'counter'"
          class="widget-small {{data.entity_config['background_color']}} coloured-icon"><i
            class="icon fa {{data.entity_config['icon']}} fa-3x"></i>
          <div class="info">
            <h4>{{data.entity_display_name}}</h4>
            <p><b>{{data.entity_config['value']}}</b></p>
          </div>
        </div>
      </a>
      <div class="tile" *ngIf="data.entity_type === 'pie_chart'">
        <h3 class="tile-title">{{data.entity_display_name}}</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <!-- <canvas chart [chartType]="pie" [chartData]="data.entity_config['value']" class="embed-responsive-item"
            id="pieChart_{{i}}"></canvas> -->
            <canvas chart [chartType]="pie" [chartData]="pie_data" class="embed-responsive-item"
            id="pieChart_{{i}}"></canvas>
        </div>
      </div>
      <div class="tile" *ngIf="data.entity_type === 'line_chart'">
        <h3 class="tile-title">{{data.entity_display_name}}</h3>
        <div class="embed-responsive embed-responsive-16by9">
          <canvas chart [chartType]="line" [chartData]="data.entity_config['value']" class="embed-responsive-item"
            id="lineChart_{{i}}"></canvas>
        </div>
      </div>
      <div class="tile" *ngIf="data.entity_type === 'list'" [hidden]="!data.menus_actions['Index']">
        <h3 class="tile-title">{{data.entity_display_name}}</h3>
        <div class="clearfix"></div>
        <div class="table-responsive">
          <table class="table table-bordered dataTable">
            <thead>
              <tr>
                <th *ngFor="let entry of (data.entity_config['value'][0] | keys) ;let i = index " id="columnOrder{{i}}">
                  <strong>{{entry.key == '_id'?'#':entry.key }}</strong></th>
                <th [hidden]="!data.menus_actions['Edit'] && !data.menus_actions['View']"><strong>Actions</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of (data.entity_config['value'] | keys);let i = index">
                <td *ngFor="let column of (data.entity_config['value'][entry.key] | keys)">
                  {{column.key == '_id'?i+1:column.value }}
                </td>
                <td [hidden]="!data.menus_actions['Edit'] && !data.menus_actions['View']">
                  <a [routerLink]="['/admin/'+data.entity_config['routes']+'/edit', data.entity_config['value'][entry.key]['_id']]"
                    class="btn btn-info btn-sm" [hidden]="!data.menus_actions['Edit']">&nbsp;<i
                      class="fa fa-edit"></i></a>&nbsp;&nbsp;
                  <a [routerLink]="['/admin/'+data.entity_config['routes']+'/view', data.entity_config['value'][entry.key]['_id']]"
                    class="btn btn-success btn-sm" [hidden]="!data.menus_actions['View']">&nbsp;<i
                      class="fa fa-eye"></i></a>&nbsp;&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a [routerLink]="[data.entity_config['url']]">View More</a>
      </div>
    </div>
  </div>
