<ng4-loading-spinner [threshold]="1" [template]="template" 
[loadingText]="'Please wait...'" [timeout]="10000000" [zIndex]="999"> </ng4-loading-spinner>   
  <div class="row">
      <div class="col-md-12">
        <div class="tile">
          <div class="row">
            <div class="col-lg-12">
          <div class="tile-title-w-btn">
            <h3 class="title">Edit {{title}}</h3>
            <p><a class="btn btn-secondary icon-btn btn-sm" [routerLink]="['/admin/'+section_alias]" ><i class="fa fa-arrow-left"></i></a></p>
          </div>
          <div class="tile-body">
          <form [formGroup]="sectionForm"  novalidate>
            <div class="row">
             <div *ngFor="let column of columns;let j = index" class="form-group col-md-6"> 
                  <div *ngIf="column.type == 'textbox'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <input class="form-control {{column.class}} {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="text" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]" tabindex="{{j+1}}" placeholder="{{column.placeholder}}">
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">  
                     {{column.validations_msg[0].required}}</div>
                    <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.pattern"  class="form-control-feedback">
                     {{column.validations_msg[0].pattern}}
                    </div> 
                    <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.minlength"  class="form-control-feedback">
                      {{column.validations_msg[0].min_length}}
                     </div> 
                    
                  </div>
                  <div *ngIf="column.type == 'textarea'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                      <textarea  class="form-control {{column.class}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" cols="10"  rows="10" tabindex="{{j+1}}" placeholder="{{column.placeholder}}"></textarea>
                      <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   
                          {{column.validations_msg[0].required}}</div>
                      <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.minlength"  class="form-control-feedback">
                        {{column.validations_msg[0].min_length}}
                        </div> 
                  </div>
                  <div *ngIf="column.type == 'email'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                
                    <input type="email" class="form-control {{column.class}} {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" *ngIf="section_alias =='users'" (input)="emailExist($event.target.value)" formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" tabindex="{{j+1}}"  placeholder="{{column.placeholder}}"/>
                    <input type="email" class="form-control {{column.class}} {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" *ngIf="section_alias !='users'"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" tabindex="{{j+1}}" placeholder="{{column.placeholder}}"/>

                    <div  *ngIf="user_email_exist" class="form-control-feedback">  Email is already exist.</div>
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">  
                        {{column.validations_msg[0].required}}</div>
                    <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.pattern"  class="form-control-feedback">
                        {{column.validations_msg[0].pattern}}
                    </div> 
                  </div>
                  <div *ngIf="column.type == 'hidden'" >
                  
                      <input type="hidden" class="form-control {{column.class}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" />
                  </div>
                  <div *ngIf="column.type == 'readonly'" >
                    <label  class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                      <input type="textbox" class="form-control {{column.class}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" />
                  </div>
                  <div *ngIf="column.type == 'radio'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <fieldset class="form-group">
                            <div class="form-check" *ngFor="let col of column.source">
                              <label class="form-check-label">
                                  <input class="form-check-input {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="radio" formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" tabindex="{{j+1}}" value="{{col.value}}" />{{col.label}}
                              </label>
                            </div>
                    </fieldset>
                      <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>
                  </div>
                  <div *ngIf="column.type == 'selectbox'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                <select class="form-control {{column.class}} {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" tabindex="{{j+1}}">
                  <option *ngFor="let col of column.source" value="{{col.value}}">  {{col.label}}</option>
                </select>
                  <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>

                  </div>

                  <div *ngIf="column.type == 'checkbox'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <fieldset class="form-group">
                            <div class="form-check" *ngFor="let col of column.source">
                              <label class="form-check-label">
                                    <input  class="form-check-input" type="checkbox"  (change)="onCheckboxChange(column.field,col.value, $event.target.checked)"  value="{{col.value}}" [checked]="section_data[column.field] | inArrayCheck:col.value" tabindex="{{j+1}}">{{col.label}}  
                              </label>

                            </div>
                            <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]"  />
                        <div  *ngIf="sectionForm.controls[column.field].invalid  && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>


                    </fieldset>



                  </div>



                  <div *ngIf="column.type == 'image'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <input class="form-control {{column.class}} {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="file" (change)="onFileChangeEvent($event,column.field)"   multiple="{{column.multiple == 'true'?'multiple':''}}" tabindex="{{j+1}}"  placeholder="{{column.placeholder}}">
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>
                    <div *ngIf="sectionForm.controls[column.field].invalid &&  sectionForm.controls[column.field].errors.extension"  class="form-control-feedback">
                      {{column.validations_msg[0].file_type}}
                     </div> 
                     <div *ngIf="sectionForm.controls[column.field].invalid &&  sectionForm.controls[column.field].errors.maxSize"  class="form-control-feedback">
                      {{column.validations_msg[0].file_size}}
                     </div> 
               
                    <input type="hidden" id="field_id_{{column.field}}" formControlName="{{column.field}}" #{{column.field}} [(ngModel)]= "section_data[column.field]">

                    <div class="row">
                      
                      <div class="col-md-4" *ngFor="let i of section_data[column.field] | toArray as images" style="padding-top:15px;text-align: center;">
                        <img  [src]="i | getFile:'id' | async" width="132px" height="90px">
                        <a *ngIf="(column.multiple =='true' && column.validations[0].required == 'true' && images.length >1) || (column.multiple =='true' && column.validations[0].required == 'false') " (click)="deleteFile(i,column.field)" style="margin-top:2px;cursor:pointer" >&nbsp;<i class="fa fa-trash"></i></a>
                      </div>
                    </div>

                    
                  </div>

                  <div *ngIf="column.type == 'file'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <input class="form-control {{column.class}} {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="file" (change)="onFileChangeEvent($event,column.field)"  multiple="{{column.multiple == 'true'?'multiple':''}}" tabindex="{{j+1}}"  placeholder="{{column.placeholder}}">
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched)  && sectionForm.controls[column.field].errors.required" class="form-control-feedback">  
                        {{column.validations_msg[0].required}}</div>
                    <div *ngIf="sectionForm.controls[column.field].invalid &&  sectionForm.controls[column.field].errors.extension"  class="form-control-feedback">
                      {{column.validations_msg[0].file_type}}
                      </div> 
                      <div *ngIf="sectionForm.controls[column.field].invalid &&  sectionForm.controls[column.field].errors.maxSize"  class="form-control-feedback">
                      {{column.validations_msg[0].file_size}}
                      </div> 
                    <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)]= "section_data[column.field]">
                    <div class="row">
                      <div class="col-md-4" *ngFor="let i of section_data[column.field] | toArray as files;let rowIndex=index" style="padding-top:15px;text-align: center;">
                        <a target="blank" [href]="i | getFile:'id' | async">File{{rowIndex+1}}</a>
                      
                        <a *ngIf="(column.multiple =='true' && column.validations[0].required == 'true' && files.length >1) || (column.multiple =='true' && column.validations[0].required == 'false') " (click)="deleteFile(i,column.field)" style="margin-top:2px;cursor:pointer" >&nbsp;<i class="fa fa-trash"></i></a>
                      </div>
                    </div>

                    
                  </div>

                  <div *ngIf="column.type == 'tags'" >


                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>

                      <select2 id="{{column.field}}" class="select2 {{(sectionForm.controls[column.field].invalid)?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}"  tabindex="{{j+1}}" [data]="column.source"
                            [options]="options"
                            width="100%"
                            [value]="section_data[column.field+'_tags']"
                            (valueChanged)="onTagsChange(column.field,$event)"
                    ></select2>
                
                      <input type="hidden" id="data-{{column.field}}" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]" />
                      <div  *ngIf="sectionForm.controls[column.field].invalid   && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>

                  </div>

                  <div *ngIf="column.type == 'custom'">
                      <div role-permissions [formColumn]="column" [allMenus]="getAllMenus"   [customData]="section_data[column.field]" (customDataChange)="section_data[column.field] = $event"  >
                        </div>
                    <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]" tabindex="{{j+1}}">
                    <div  *ngIf="sectionForm.controls[column.field].invalid   && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>
                </div>

                <div *ngIf="column.type == 'datepicker'" >
                  <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                  <div  date-picker [formColumn]="column" [dateId]="column.field" [dateFormat]="date_format" [dateValue]="section_data[column.field]"  [customData]="section_data[column.field]" (customDataChange)="section_data[column.field] = $event" tabindex="{{j+1}}" ></div>
                  <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]">
                  <div  *ngIf="sectionForm.controls[column.field].invalid   && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>

                </div>
                <div *ngIf="column.type == 'texteditor'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <app-ngx-editor [toolbar]="[
                    ['bold', 'italic', 'underline', 'strikeThrough', 'superscript', 'subscript'],
                    ['fontSize', 'color'],
                    [ 'justifyLeft','justifyCenter','justifyRight'],
                    ['orderedList', 'unorderedList'],
                    ['link', 'unlink']
                   ]" [height]="1000" [minHeight]="1000" [placeholder]="'Enter Your '+column.label" [spellcheck]="true"  formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]"></app-ngx-editor>
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>
               </div>
               <div *ngIf="column.type == 'map'" >
           
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <button *ngIf="column.geofence == 'true'" id="clearBtn" value="Delete Polygon" (click)="deletePoly()" >Delete Polygon</button>
                    <agm-map [latitude]='section_data[column.field] | getMapDetails:"lat"' [longitude]='section_data[column.field] | getMapDetails:"lng"' (mapClick)="column.geofence == 'true'?drawPolygon($event,column.field):''">
                      <agm-marker [latitude]='section_data[column.field] | getMapDetails:"lat"' [longitude]='section_data[column.field] | getMapDetails:"lng"' [markerDraggable]="true" (dragEnd)="markerDragEnd(column.field, $event)" (markerClick)="onMarkerClick(column.field, $event)" ></agm-marker>
                      <agm-polygon *ngIf="column.geofence == 'true'" 
                      [paths]='section_data[column.field] | getMapDetails:"geofence"'
                      [editable]="true" 
                      [fillColor]="ffff00" 
                      [strokeWeight]="3" 
                      [fillOpacity]="0.2" >
                      </agm-polygon> 
                      </agm-map>
                    <ng4geo-autocomplete [userSettings]='{ inputPlaceholderText: "Search Place",inputString: section_data[column.field] | getMapDetails:"address",showSearchButton: false}' (keyup)="onMapKeyUpEvent($event,column.field)" (componentCallback)="onMapChangeEvent($event,column.field)" ></ng4geo-autocomplete>
                    <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)]= "section_data[column.field]">
                    <div  *ngIf="sectionForm.controls[column.field].invalid   && sectionForm.controls[column.field].errors.required" class="form-control-feedback">    {{column.validations_msg[0].required}}</div>
                   
                  </div>
                 
               
                  
            </div>
          </div>

            <div class="tile-footer">
              
                <button *ngIf="section_alias =='users'" (click)="update()" [disabled]="sectionForm.invalid || user_email_exist"  tabindex="{{field_length+1}}" class="btn btn-primary" ><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>
                <button *ngIf="section_alias !='users'" (click)="update()" [disabled]="sectionForm.invalid" tabindex="{{field_length+1}}" class="btn btn-primary" ><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>

              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



 



