           
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="row">
        <div class="col-lg-12">
          <div class="tile-title-w-btn">
              <h3 class="title">{{title | titlecase}}</h3>
              <p><a class="btn btn-secondary icon-btn btn-sm" [routerLink]="['/admin/package-installer']" ><i class="fa fa-arrow-left"></i></a></p>
            
            </div>
            <div class="row user">
                <div class="col-md-12">
                  <ul class="nav nav-tabs user-tabs">
                    <li class="nav-item"><a class="nav-link active" href="" data-target="#packages-details" data-toggle="tab">Info</a></li>
                    <li class="nav-item"><a class="nav-link" href="" data-target="#packages-documentation" data-toggle="tab">Documentation</a></li>
                    <li class="nav-item"><a class="nav-link" href="" data-target="#packages-configure" data-toggle="tab">Configure</a></li>

                  </ul>
                </div>
            
              <div class="col-md-12">
                 
              <div class="tab-content">
                  <div class="tab-pane active" id="packages-details">
                      <div class="row">
                         <div [innerHTML]="packagesData.package_description" class="col-md-12"></div>
                      </div>
                  </div>
                <div class="tab-pane fade" id="packages-documentation">
                    <div class="row">
                       
                      <div [innerHTML]="packagesData.readme" class="col-md-12"></div>
                       
                    </div>
                </div>
                <div class="tab-pane fade" id="packages-configure">
                    <div class="row user-settings">
                        <div class="col-md-12">
                            <form class="package-installer-form" [formGroup]="packageInstallerForm" novalidate>
                                <div class="row">
                                <div class="col-md-6" *ngFor="let keys of configuration_keys;let j = index">
                                    <label class="control-label">{{keys}}<span class="required_field">*</span></label>
                                    <input class="form-control {{(packageInstallerForm.controls[keys].invalid && (packageInstallerForm.controls[keys].dirty || packageInstallerForm.controls[keys].touched))?'is-invalid':packageInstallerForm.controls[keys].valid?'is-valid':''}}" type="text" formControlName="{{keys}}" #{{keys}} [(ngModel)] = "package_form_data[keys]" placeholder="Enter your {{keys}}">
                                    <div *ngIf="packageInstallerForm.controls[keys].invalid && (packageInstallerForm.controls[keys].dirty || packageInstallerForm.controls[keys].touched) && packageInstallerForm.controls[keys].errors.required" class="form-control-feedback"> 
                                    {{keys}} is required</div>
                                </div>
                                </div>
                                <div class="tile-footer">
                                  <button (click)="configureUpdate(package_form_data)" [disabled]="packageInstallerForm.invalid" class="btn btn-primary" ><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>
                                </div>
                            </form>
                        </div>
                            
                    </div>
                </div>
              </div>
            </div>
            
           </div>
  

        </div>
      </div>
    </div>
   </div>
  </div>
  