           
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="row">
        <div class="col-lg-12">
          <div class="tile-title-w-btn">
              <h3 class="title">List {{title}}</h3>
              <input type="text" class="form-control form-control-sm col-md-3" id="search_word"  placeholder="Search" >
            
            </div>
            <div class="row user">
                <div class="col-md-12">
                  <ul class="nav nav-tabs user-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#packages-rep" data-toggle="tab">Packages</a></li>
                    <li class="nav-item"><a class="nav-link" href="#packages-installed" data-toggle="tab">Installed</a></li>
                  </ul>
                </div>
            
              <div class="col-md-12">
              <div class="tab-content">
                <div class="tab-pane active" id="packages-rep">
                    <div class="row">


                    <div class="col-md-4">
                      <div class="timeline-post">
                        <div class="post-media"><a  [routerLink]="['/admin/package-installer/Authorise.net']"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></a>
                          <div class="content">
                            <h5><a  [routerLink]="['/admin/package-installer/Authorise.net']">Authorise.net</a></h5>
                            <p class="text-muted"><small>2 January at 9:30</small></p>
                          </div>
                        </div>
                        <div class="post-content">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <ul class="post-utility">
                          <li class="likes"><i class="fa fa-download"></i>2 Downloads</li>
                          <li class="comments"><button class="btn btn-sm btn-primary">install</button></li>
                        </ul>
                      </div>
                    </div>
                
                     
                        
                   </div>
                </div>
                <div class="tab-pane fade" id="packages-installed">
                    <div class="row">


                        <div class="col-md-12">
                          <div class="timeline-post">
                            <div class="post-media"><a  [routerLink]="['/admin/package-installer/Authorise.net']"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></a>
                              <div class="content">
                                <h5><a  [routerLink]="['/admin/package-installer/Authorise.net']">Authorise.net</a></h5>
                                <p class="text-muted"><small>2 January at 9:30</small></p>
                              </div>
                            </div>
                            <div class="post-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            </div>
                            <ul class="post-utility">
                              <li class="likes"><i class="fa fa-download"></i>2 Downloads</li>
                             
                              <!-- <li class="comments"><button class="btn btn-sm btn-primary">install</button></li> -->
                            </ul>
                          </div>
                        </div>
                    
                         
                            
                       </div>
                </div>
              </div>
            </div>
            
           </div>
  

        </div>
      </div>
    </div>
   </div>
  </div>
  