<form class="login-form" [formGroup]="resetPasswordForm" novalidate>
  <h3 class="login-head"><i class="fa fa-lg fa-fw fa-unlock"></i>Reset Password</h3>
  <div class="form-group">
    <label class="control-label">New Password</label>
    <input type="password" tabindex="2" class="form-control {{(resetPasswordForm.controls['newPwd'].invalid && (resetPasswordForm.controls['newPwd'].dirty || resetPasswordForm.controls['newPwd'].touched))?'is-invalid':resetPasswordForm.controls['newPwd'].valid?'is-valid':''}}"
      formControlName="newPwd" #newPwd [(ngModel)]="passwordInfo.newPwd" placeholder="Password" />
    <div *ngIf="resetPasswordForm.controls['newPwd'].invalid && (resetPasswordForm.controls['newPwd'].dirty || resetPasswordForm.controls['newPwd'].touched) && resetPasswordForm.controls['newPwd'].errors.required"
      class="form-control-feedback"> New Password is required.</div>
  </div>
  <div class="form-group">
    <label class="control-label">Confirm Password</label>
    <input type="password" tabindex="2" class="form-control {{(resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched))?'is-invalid':resetPasswordForm.controls['password'].valid?'is-valid':''}}"
      formControlName="password" #password  [(ngModel)]="passwordInfo.confirmPwd" placeholder="Password" />
    <div *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched) && resetPasswordForm.controls['password'].errors.required"
      class="form-control-feedback">Confirm Password is required.</div>
      <div class="form-control-feedback" *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched) && resetPasswordForm.controls['password'].errors.MatchPassword">Password not match</div>
  </div>

  <div class="form-group btn-container">
    <button class="btn btn-primary btn-block" (click)="updatePassword(passwordInfo)" [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid"
      tabindex="4"><i class="fa fa-sign-in fa-lg fa-fw"></i>UPDATE</button>
    <div *ngIf="login_error" class="form-control-feedback">
      {{login_error}}
    </div>
  </div>
</form>