
 <div *ngIf="!angular_part">
  <div id="navbar">
        <a href="admin/login">Admin</a>
        <a href="http://192.168.0.100/magpie/">Documentation</a>
  </div>
	<div class="welcome">
		<a href="#" title="Magpie 1.0 : MEAN Framework From iscripts"><img width="450" src="assets/themes/site/default/images/magpie_logo.png" alt="Magpie 1.0 : MEAN Framework From iscripts"></a>
  </div>
   
</div>



<div *ngIf="showNav && angular_part">

  <header class="app-header"><a class="app-header__logo" [routerLink]="['admin/dashboard']" routerLinkActive="active">{{website_name}}</a>
   <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
   
    <ul class="app-nav">
 
   
      <!-- <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
        <ul class="app-notification dropdown-menu dropdown-menu-right">
          <li class="app-notification__title">You have 4 new notifications.</li>
          <div class="app-notification__content">
            <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                <div>
                  <p class="app-notification__message">Lisa sent you a mail</p>
                  <p class="app-notification__meta">2 min ago</p>
                </div></a></li>
            <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                <div>
                  <p class="app-notification__message">Mail server not working</p>
                  <p class="app-notification__meta">5 min ago</p>
                </div></a></li>
            <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                <div>
                  <p class="app-notification__message">Transaction complete</p>
                  <p class="app-notification__meta">2 days ago</p>
                </div></a></li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
            </div>
          </div>
          <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
        </ul>
      </li> -->
    
      <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
        <ul class="dropdown-menu settings-menu dropdown-menu-right">
          <li *ngIf="package_installer"><a class="dropdown-item" [routerLink]="['admin/package-installer']" routerLinkActive="active"><i class="fa fa-briefcase fa-lg"></i> Package Installer</a></li>
          <li><a class="dropdown-item" [routerLink]="['admin/settings']" routerLinkActive="active"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
          <li><a class="dropdown-item" [routerLink]="['admin/account']" routerLinkActive="active"><i class="fa fa-user fa-lg"></i> Account</a></li>
          <li><a class="dropdown-item"  [routerLink]="['#']" (click)="logout()"  routerLinkActive="active"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </header>


  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
   
    <div class="app-sidebar__user">
      <span  *ngIf="login_image != ''">
       <img *ngFor="let i of login_image | toArray" class="app-sidebar__user-avatar" [src]="i | getFile:'id' | async" width="50px" height="50px" alt="">
      </span>
      <span  *ngIf="login_image == ''">
        <img  class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="">
      </span>
      <div>
        <p class="app-sidebar__user-name">{{login_name}}</p>
        <p class="app-sidebar__user-designation">{{login_role}}</p>
      </div>
    </div>



  
   <ul class="app-menu">
      
        <li class="treeview {{router.url.split('/')[2] == 'dashboard'?'is-expanded':''}}"><a class="app-menu__item" data-toggle="treeview" [routerLink]="['admin/dashboard']" routerLinkActive="active"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li  *ngFor="let main of roles_menu;let last = last" menu-toggle [isLast]="last"  class="treeview {{main.submenu.indexOf(router.url.split('/')[2]) > -1?'is-expanded':''}}"  >
          <a class="app-menu__item"  data-toggle="treeview">
            <i class="app-menu__icon fa {{main.icon}}"></i>
            <span class="app-menu__label">{{main.name}}</span>
            <i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li *ngFor="let menus of main.sub" >
              <a class="treeview-item {{menus.url.split('/').indexOf(router.url.split('/')[2]) > -1?'active':''}}" [routerLink]="[menus.url]" routerLinkActive="active">
                <i class="app-menu__icon fa {{menus.icon}}"></i>
                <span class="app-menu__label">{{menus.display_name}}</span>
              </a>
            </li>
        </ul>
       </li>


        <!-- <li><a class="app-menu__item" [routerLink]="['#']" (click)="logout()"  routerLinkActive="active"><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">Logout</span></a></li> -->

    </ul> 
  </aside>
  <main class="app-content">
    <div class="app-title" *ngIf="showBeadcrumb">
       <div>
          <h1>{{showNavDisplayTitle.replace("-"," ") | titlecase}}</h1>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i [routerLink]="['admin/dashboard']" class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a [routerLink]="['admin/'+(showNavTitle | lowercase)]" >{{showNavDisplayTitle.replace("-"," ") | titlecase}}</a></li>
         <li class="breadcrumb-item"  *ngIf="showNavMethod != undefined"><a >{{showNavMethod  | titlecase}}</a></li>
      </ul>

    </div>
      
     <router-outlet></router-outlet>
          
  </main>
</div>




<div *ngIf="!showNav && angular_part">
<section class="material-half-bg">
<div class="cover"></div>
</section>
<section class="login-content">
<div class="logo">
  <h1>{{website_name}}</h1>
</div>    
<div class="login-box">
  <router-outlet></router-outlet>
</div>
</section>
</div>




