
<div *ngIf="showNav">
      <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" [routerLink]="['admin/dashboard']" routerLinkActive="active">MEAN</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
      <ul class="app-nav">
   
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
              <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Lisa sent you a mail</p>
                      <p class="app-notification__meta">2 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Mail server not working</p>
                      <p class="app-notification__meta">5 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>
        <!-- User Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
          <ul class="dropdown-menu settings-menu dropdown-menu-right">
            <li><a class="dropdown-item" [routerLink]="['admin/dashboard']" routerLinkActive="active"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
            <li><a class="dropdown-item" [routerLink]="['admin/dashboard']" routerLinkActive="active"><i class="fa fa-user fa-lg"></i> Profile</a></li>
            <li><a class="dropdown-item"  [routerLink]="['#']" (click)="logout()"  routerLinkActive="active"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </header>


        <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
          <p class="app-sidebar__user-name">{{login_name}}</p>
          <p class="app-sidebar__user-designation">Administrator</p>
        </div>
      </div>
      <ul class="app-menu">
          <li><a class="app-menu__item" [routerLink]="['admin/dashboard']" routerLinkActive="active"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
          <li><a class="app-menu__item" [routerLink]="['admin/users/index']" routerLinkActive="active"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Users</span></a></li>
         <li><a class="app-menu__item" [routerLink]="['admin/sections/index']" routerLinkActive="active"><i class="app-menu__icon fa fa-cog"></i><span class="app-menu__label">Sections</span></a></li>
         <li><a class="app-menu__item" [routerLink]="['#']" (click)="logout()"  routerLinkActive="active"><i class="app-menu__icon fa fa-sign-out"></i><span class="app-menu__label">Logout</span></a></li>

      </ul>
    </aside>
    <main class="app-content">
      <div class="app-title" *ngIf="showBeadcrumb">
         <div>
            <h1>{{showNavTitle | titlecase}}</h1>
         <!--  <h1><i class="fa fa-edit"></i> Edit</h1>
          <h1><i class="fa fa-plus"></i> Add</h1>
          <h1><i class="fa fa-list"></i> List</h1> -->

         
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i [routerLink]="['admin/dashboard']" class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a [routerLink]="['admin/'+(showNavTitle | lowercase)+'/index']" >{{showNavTitle | titlecase}}</a></li>
           <li class="breadcrumb-item"><a >{{showNavMethod | titlecase}}</a></li>
        </ul>
          
      </div>
        <div class="row">
         <div class="col-md-12">
          <div class="tile">
            <div class="row">
              <div class="col-lg-12">
               <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
        </div>
    </main>
</div>


<div *ngIf="!showNav">
<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>MEAN</h1>
  </div>    
  <div class="login-box">
    <router-outlet></router-outlet>
  </div>
</section>
</div>


