<div class="row">
  <div class="col-md-12">
   <div class="tile">
     <div class="row">
       <div class="col-lg-12">
          <div class="tile-title-w-btn">
            <h3 class="title">Add {{title}}</h3>
          <p><a class="btn btn-secondary icon-btn btn-sm" [routerLink]="['/admin/'+section_alias]" ><i class="fa fa-arrow-left"></i></a></p>
          </div>
          <div class="tile-body">
          <form [formGroup]="sectionForm"  novalidate>
            <div class="row">
            <div *ngFor="let column of columns" class="form-group {{column.type == 'custom'?'col-md-12':'col-md-6'}}"> 
                  <div *ngIf="column.type == 'textbox'" class="" >
                        <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                        <input class="form-control {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="text" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]" placeholder="{{column.placeholder}}">
                        <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">  
                          {{column.validations_msg[0].required}}</div>
                         <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.pattern"  class="form-control-feedback">
                          {{column.validations_msg[0].pattern}}
                         </div> 
                         <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.minlength"  class="form-control-feedback">
                           {{column.validations_msg[0].min_length}}
                          </div>  
                 </div>
                    <div *ngIf="column.type == 'textarea'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                      <textarea  class="form-control {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" cols="10"  rows="10" placeholder="{{column.placeholder}}"></textarea>
                      <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   
                        {{column.validations_msg[0].required}}</div>
                    <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.minlength"  class="form-control-feedback">
                      {{column.validations_msg[0].min_length}}
                      </div> 
                  </div>
                  <div *ngIf="column.type == 'email'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <input type="email" *ngIf="section_alias =='users'" (input)="emailExist($event.target.value)" class="form-control {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]"  placeholder="{{column.placeholder}}"/>
                    <input type="email" *ngIf="section_alias !='users'" class="form-control {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]"  placeholder="{{column.placeholder}}"/>
                    <div  *ngIf="user_email_exist" class="form-control-feedback">  Email is already exist.</div>
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">  
                      {{column.validations_msg[0].required}}</div>
                   <div *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.pattern"  class="form-control-feedback">
                      {{column.validations_msg[0].pattern}}
                   </div> 
                  </div>
                  <div *ngIf="column.type == 'hidden'" >
                    <label ng-show="column.field == 'password'" class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                      <input type="{{column.field == 'password'?'password':'hidden'}}" class="form-control"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]"  placeholder="{{column.placeholder}}"/>
                      <div  *ngIf="column.field == 'password' && sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback" >   {{column.validations_msg[0].required}}</div>

                    </div>
                  <div *ngIf="column.type == 'readonly'" >
                    <label  class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                      <input type="textbox" class="form-control"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" />
                  </div>
                  <div *ngIf="column.type == 'radio'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <fieldset class="form-group">
                            <div class="form-check" *ngFor="let col of column.source">
                              <label class="form-check-label">
                                  <input class="form-check-input {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="radio" formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]" value="{{col.value}}" />{{col.label}}
                              </label>
                            </div>
                    </fieldset>
                      <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                  </div>
                  <div *ngIf="column.type == 'selectbox'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                <select class="form-control {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}"  formControlName="{{column.field}}" #{{column.field}}  [(ngModel)] = "section_data[column.field]">
                  <option *ngFor="let col of column.source" value="{{col.value}}">  {{col.label}}</option>
                </select>
                  <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>

                  </div>
                  <div *ngIf="column.type == 'checkbox'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <fieldset class="form-group">
                            <div class="form-check" *ngFor="let col of column.source">
                              <label class="form-check-label">
                                  <input  class="form-check-input" type="checkbox"  (change)="onCheckboxChange(column.field,col.value, $event.target.checked)"  value="{{col.value}}">{{col.label}}  
                              </label>

                            </div>

                              <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]"  />
                              <div  *ngIf="sectionForm.controls[column.field].invalid && validation_fields_onload[column.field] && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                    </fieldset>
                  </div>
                  <div *ngIf="column.type == 'image' || column.type == 'file'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <input class="form-control {{(sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched))?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" type="file"  (change)="onFileChangeEvent($event,column.field)"  multiple="{{column.multiple == 'true'?'multiple':''}}"  placeholder="{{column.placeholder}}">
                    <input type="hidden" id="field_id_{{column.field}}" formControlName="{{column.field}}" #{{column.field}} [(ngModel)]= "section_data[column.field]">
                    <div  *ngIf="sectionForm.controls[column.field].invalid  &&  (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                    <div *ngIf="sectionForm.controls[column.field].invalid &&  sectionForm.controls[column.field].errors.extension"  class="form-control-feedback">
                      {{column.validations_msg[0].file_type}}
                     </div> 
                     <div *ngIf="sectionForm.controls[column.field].invalid &&  sectionForm.controls[column.field].errors.maxSize"  class="form-control-feedback">
                      {{column.validations_msg[0].file_size}}
                     </div> 
                  </div>
                  <div *ngIf="column.type == 'tags'" >
                  <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>

                    <select2 class="select2 {{(sectionForm.controls[column.field].invalid)?'is-invalid':sectionForm.controls[column.field].valid?'is-valid':''}}" [data]="column.source | tagsData"
                          [options]="options"
                          width="100%"
                          (valueChanged)="onTagsChange(column.field,$event)"
                  ></select2>

                    <input type="hidden" id="data-{{column.field}}" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]" [required]="true" />
                    <div  *ngIf="sectionForm.controls[column.field].invalid && validation_fields_onload[column.field]  && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                  </div>
              

                  <div *ngIf="column.type == 'custom'">
                    <div role-permissions [formColumn]="column" [allMenus]="getAllMenus"   [customData] = "section_data[column.field]" (customDataChange)="section_data[column.field] = $event"  [customValidate]="validation_fields_onload[column.field]"  (customValidateChange)="validation_fields_onload[column.field]  = $event">
                    </div>
                    <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]">
                    <div  *ngIf="sectionForm.controls[column.field].invalid && validation_fields_onload[column.field]  && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                  </div>

                  <div *ngIf="column.type == 'datepicker'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <div  date-picker [formColumn]="column" [dateId]="column.field" [dateFormat]="date_format" [dateValue]="section_data[column.field]" [customData]="section_data[column.field]" (customDataChange)="section_data[column.field] = $event" ></div>
                    <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]">
                    <div  *ngIf="sectionForm.controls[column.field].invalid   && validation_fields_onload[column.field] && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
  
                  </div>
                  <div *ngIf="column.type == 'texteditor'" >
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <app-ngx-editor [toolbar]="[
                    ['bold', 'italic', 'underline', 'strikeThrough', 'superscript', 'subscript'],
                    ['fontSize', 'color'],
                    [ 'justifyLeft','justifyCenter','justifyRight'],
                    ['orderedList', 'unorderedList'],
                    ['link', 'unlink']
                   ]" [height]="1000" [minHeight]="1000" [placeholder]="'Enter Your '+column.label" [spellcheck]="true"  formControlName="{{column.field}}" #{{column.field}} [(ngModel)] = "section_data[column.field]"></app-ngx-editor>
                    <div  *ngIf="sectionForm.controls[column.field].invalid && (sectionForm.controls[column.field].dirty || sectionForm.controls[column.field].touched) && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                 </div>
                 <div *ngIf="column.type == 'map'" >
           
                    <label class="control-label">{{column.label}}<span *ngIf="column.validations[0].required == 'true'" class="required_field">*</span></label>
                    <agm-map [latitude]="lat" [longitude]="lng">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                    <ng4geo-autocomplete [userSettings]='{ inputPlaceholderText: "Search Place",inputString: section_data[column.field] | getMapDetails:"address",showSearchButton: false}'  (componentCallback)="onMapChangeEvent($event,column.field)" ></ng4geo-autocomplete>
                    <input type="hidden" formControlName="{{column.field}}" #{{column.field}} [(ngModel)]= "section_data[column.field]">
                    <div  *ngIf="sectionForm.controls[column.field].invalid   && validation_fields_onload[column.field] && sectionForm.controls[column.field].errors.required" class="form-control-feedback">   {{column.validations_msg[0].required}}</div>
                   
                  </div>


            </div>
          </div>
         
            <div class="tile-footer">
                <button (click)="create()" *ngIf="section_alias =='users'"  [disabled]="sectionForm.invalid || user_email_exist" class="btn btn-primary" ><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>
                <button (click)="create()" *ngIf="section_alias !='users'"  [disabled]="sectionForm.invalid" class="btn btn-primary" ><i class="fa fa-fw fa-lg fa-check-circle"></i>Submit</button>

              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





 



